;;;
"title": "Landing Title"
;;;


.page-header
  %h1
    Main Title
    %small Sub Title

%ul.social
  %li
    %a{ href: '#', title: 'LinkedIn' }
      %span.fa.fa-linkedin-square.fa-5x
  %li
    %a{ href: '#', title: 'GitHub' }
      %span.fa.fa-github-square.fa-5x
  %li
    %a{ href: '#', title: 'Facebook' }
      %span.fa.fa-facebook-square.fa-5x
  %li
    %a{ href: '#', title: 'Twitter' }
      %span.fa.fa-twitter-square.fa-5x
  %li
    %a{ href: '#', title: 'Pinterest' }
      %span.fa.fa-pinterest-square.fa-5x
  %li
    %a{ href: '#', title: 'YouTube' }
      %span.fa.fa-youtube-square.fa-5x
  %li
    %a{ href: '#', title: 'Instagram' }
      %span.fa.fa-instagram.fa-5x